---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';

const selectOptions = [
  "Preplanned Safaris",
  "Custom Safaris",
  "General Services",
  "Other"
]

---

<form name="Contact Form" method="POST" action="/contact-thank-you">
  <FormInput type="text" label="Name" name="Name" placeholder="John Doe" />
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" />
  <FormInput type="tel" label="Contact Number" name="Number" placeholder="+27123456789" />
  <FormSelect label="How can we assist you?" options={selectOptions} />
  <FormTextarea label="Message" name="Message" placeholder="Your message here..." />
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    .btn {
      width: 100%;
    }
  }
</style>